@import './normalize.css';
@import './responsive.css';

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'latoregular';
    src: url('/fonts/lato-regular-webfont.eot');
    src: url('/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('/fonts/lato-regular-webfont.woff') format('woff'),
         url('/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: lighter;
    font-style: normal;
}


@font-face {
    font-family: 'latohairline';
    src: url('/fonts/lato-thin-webfont.eot');
    src: url('/fonts/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato-thin-webfont.woff2') format('woff2'),
         url('/fonts/lato-thin-webfont.woff') format('woff'),
         url('/fonts/lato-thin-webfont.ttf') format('truetype'),
         url('/fonts/lato-thin-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
